kconnect/libs/
scripts/setenv.sh
kconnect/connect-distributed.properties
kconnect/db2-connector-config.json
kconnect/kafka-connect-jdbc-sink/
kconnect/kafka-connect-mq-sink/
mq-sink-lab/kafka-connect-mq-sink/
kconnect/kafka-connect-rabbitmq-source/
kconnect/db2-sink-config.json
infrastructure/qm1data/
infrastructure/rabbitmq/data/
infrastructure/rabbitmq/logs/
scripts/kafka.properties
item-aggregator/src/main/resources/application.properties
**/target/
./eda-kconnect.code-workspace

